*{
    padding:0px;
    margin:0px;
}
body{
background-color:rgb(241 197 225);
}
#navbar{
    display:flex;
    top:0px;
    left:0px;
    position:sticky;
    height:100%;
    width:100%
}
#navbar::before{
    content:"";
    position:absolute;
    background: black;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: -1;
}
#navbar .logo{
    padding: 5px 30px;
}
#navbar .logo img{
    border: groove 6px #f8dbdb;
    height: 80px;
    width: 80px;
    border-radius: 123px;
}
#navbar ul{
    font-family: 'Rubik', sans-serif;
    display: flex;
}
#navbar ul li{
    list-style: none;
    
}
#navbar ul li a{
    color:rgb(245, 242, 237);
    padding: 38px 36px;
    display:block;
    font-size: 1.6rem;
    border-radius: 53px;
    text-decoration: none;
}
#navbar ul li a:hover{
    cursor:pointer;
    background-color: rgb(253, 148, 188);
    color:rgb(54, 2, 28);
}
.container{
    min-height: 75vh;
    background-color: black ;
    color:rgb(215 171 199);
    font-family: 'Playball', cursive;
    display: flex;
    margin:5px auto;
    width:92%;
    padding:5px;
    background: url(../background.jpg) no-repeat center center/cover;
}
.songitem{
    height:50px;
    display:flex;
    background-color:rgb(255 214 240);
    color:black;
    margin:10px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 56px;
}
.songlist{
    height:360px;
    margin:20px 2px;
    overflow-y: scroll;
}
.songitemplay{
padding:0px 3px;
cursor: pointer;
}
#masterPlay{
    cursor: pointer;
}
#shuffle,
#repeat{
    cursor: pointer;
}
.icons{
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
    width: 80vw;
}
.shuffle,
.repeat p{
    text-align: center;
}
.songinfo{
   text-align: center;
}
@media only screen and (min-width: 300px) and (max-width:450px) {
    .bottom i{
        font-size: 1.4em;
    }
    .shuffle,
.repeat p{
    font-size: 0.8em;
}
.songinfo{
    font-size: 0.9em;
    max-width: 147px;
}
}

@media (min-width: 450px) and (max-width:570px) {
    .bottom i{
        font-size: 1.9em;
    }
    .shuffle,
.repeat p{
    font-size: 1em;
}
.songinfo{
    font-size: 1em;
    max-width: 165px;
}
}
.bottom{
    background: black;
    position: sticky;
    height:111px;
    color: #f8dbdb;
    bottom:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom i{
    padding: 7px 16px;
    cursor: pointer;
}
#progressbar{
    width:85vw;
    cursor: pointer;
}
.hsecondary{
    font-size: 2.58rem;
    padding: 71px 9px;
}
